.tgz filter=lfs diff=lfs merge=lfs -text
/Assets/Editor/Vuforia/ImageTargetTextures/Tarot/Tarot-Card-2_scaled.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/Editor/Vuforia/ImageTargetTextures/Test/chips_scaled.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/Editor/Vuforia/ImageTargetTextures/Test/stones_scaled.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/Editor/Vuforia/ImageTargetTextures/Test/tarmac_scaled.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/BackGround.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Alternative_Colors_1.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Alternative_Colors_2.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Alternative_Colors_3.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Alternative_Colors_4.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Alternative_Colors_5.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Buttons_1.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Buttons_2.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Buttons_3.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Buttons_4.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Buttons_5.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Dialogue_1.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Dialogue_2.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Dialogue_3.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Frames_1.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Frames_2.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Frames_3.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Frames_4.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Frames_5.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Frames_6.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_HP_Bars.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Loading_Bars.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Lvl_Icon_Nmbrs_Ltrs.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_Slots_Arrows.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_gameplay_icons_1.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_gameplay_icons_2.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_gameplay_icons_3.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_gameplay_icons_4.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_gameplay_icons_5.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_inventory_cursor_icons.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_settings_icons.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Art/Steampunk_UI_settings_icons_2.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Fonts/Arvo/Arvo[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Fonts/BebasNeue/BebasNeue[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Fonts/Custom[[:space:]]Sprite[[:space:]]Font/FontAtlas.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Fonts/Environment[[:space:]]Maps/IndoorHDRI005_2K-HDR.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Fonts/Environment[[:space:]]Maps/OutdoorHDRI020_2K-HDR.exr filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Fonts/Environment[[:space:]]Maps/gear_store_2k.hdr filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Fonts/Environment[[:space:]]Maps/pretville_cinema_2k.hdr filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Fonts/Environment[[:space:]]Maps/st_fagans_interior_2k.hdr filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Fonts/LiberationSans/LiberationSans.asset filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Fonts/LiberationSans/LiberationSans.ttf filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Fonts/RobotoSlab/RobotoSlab[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Fonts/RobotoSlab/RobotoSlab.ttf filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Overviews/Demo[[:space:]]Buttons[[:space:]]Icons.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Overviews/Demo[[:space:]]Buttons.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Overviews/Demo[[:space:]]Cursors.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Overviews/Demo[[:space:]]Fonts.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Overviews/Demo[[:space:]]Frames.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Overviews/Demo[[:space:]]Icons.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Overviews/Demo[[:space:]]Sliders[[:space:]]And[[:space:]]Bars.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Overviews/SteampunkUICard.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Overviews/SteampunkUICover.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Overviews/SteampunkUISocialMedia.png filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Scenes/Demos/Demo[[:space:]]Buttons[[:space:]]Icons.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Scenes/Demos/Demo[[:space:]]Buttons.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Scenes/Demos/Demo[[:space:]]Sliders[[:space:]]And[[:space:]]Bars.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Scenes/Examples/Example03_settings_menu.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/Scenes/Examples/Example04_character_selection.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Gentleland/SteampunkUI/SteampunkUI[[:space:]]Documentation.pdf filter=lfs diff=lfs merge=lfs -text
/Assets/Plugins/IngameDebugConsole/IngameDebugConsole.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/ARxDnD.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/Assets/3dChars/Dragon.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/Assets/3dChars/Dwarf.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/Assets/Tex/Dungeon[[:space:]]floor.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/Assets/Tex/Goudy[[:space:]]Mediaeval[[:space:]]Regular[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/Assets/Tex/Prince[[:space:]]Valiant[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/Assets/Tex/dice.png filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/Assets/Tex/gltf_embedded_0.jpeg filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/Assets/Tex/gltf_embedded_1.jpeg filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/Assets/Tex/gltf_embedded_2.jpeg filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/Assets/Tex/gltf_embedded_3.jpeg filter=lfs diff=lfs merge=lfs -text
/Assets/StreamingAssets/Vuforia/Tarot.dat filter=lfs diff=lfs merge=lfs -text
/Assets/StreamingAssets/Vuforia/Test.dat filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Documentation/TextMesh[[:space:]]Pro[[:space:]]User[[:space:]]Guide[[:space:]]2016.pdf filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Fonts/LiberationSans.ttf filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Resources/Fonts[[:space:]]&[[:space:]]Materials/LiberationSans[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Sprites/EmojiOne.png filter=lfs diff=lfs merge=lfs -text
/Assets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db filter=lfs diff=lfs merge=lfs -text
/Packages/com.ptc.vuforia.engine-10.18.4.tgz filter=lfs diff=lfs merge=lfs -text
